<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div>
    <ion-card>
      <div *ngIf="top">  
        <ion-item>
          <h3><ion-label position="stacked">Toppings Name:</ion-label></h3>
          <ion-input [(ngModel)]="top.toppingsName"></ion-input>
        </ion-item>
        <ion-item>
          <h3><ion-label position="stacked">Price:</ion-label></h3>
          <ion-input [(ngModel)]="top.price"></ion-input>
        </ion-item>
      </div>
    </ion-card>

    <ion-button (click)="updatePrice()" expand="block" shape="round">
      <ion-icon slot="start" name="save"></ion-icon>
      Update
    </ion-button>
      
  </div>
</ion-content>
