<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Place Order</ion-title>
</ion-toolbar>

<ion-content>
  <ion-header>
    <div class="header">
      <h1>For Pick Up</h1>
    </div>
  </ion-header>
  <ion-card *ngIf="cakedetails">
    <ion-img class="cake" src="{{cakedetails.imageUrl}}"></ion-img>
    <h6>{{cakedetails.name}}</h6>
  </ion-card>
  <ion-card>
    <div class="listcustomcake">
      <ion-grid>
        <ion-row *ngIf="topdetails">
         <ion-col class="title">Toppings</ion-col>
         <ion-col>{{topdetails.toppingsName}}</ion-col>
         <ion-col>+ {{topdetails.price}} php</ion-col>
        </ion-row>
         <ion-row *ngIf="layerdetails">
          <ion-col class="title">Layers</ion-col>
          <ion-col>{{layerdetails.layername}}</ion-col>
          <ion-col>+ {{layerdetails.price}} php</ion-col>
         </ion-row>
         <ion-row *ngIf="sizedetails">
          <ion-col class="title">Size</ion-col>
          <ion-col>{{sizedetails.sizename}}</ion-col>
          <ion-col>+ {{sizedetails.price}} php</ion-col>
         </ion-row>
         <ion-row>
          <ion-col class="title">Additional Instructions</ion-col>
          <ion-col>Add "{{message}}"</ion-col>
          <ion-col>+ 50php</ion-col>
         </ion-row>
         <ion-row *ngIf="cakedetails">
          <ion-col class="title">Base Price: </ion-col>
          <ion-col></ion-col>
          <ion-col>{{cakedetails.price}} php</ion-col>
         </ion-row>
         <ion-row>
          <ion-col class="title">Total Price: </ion-col>
          <ion-col></ion-col>
          <ion-col>{{total}}</ion-col>
         </ion-row>
      </ion-grid>
    </div>
  </ion-card>
  <ion-button shape="round" color="tertiary" class="placeorder">Place Order</ion-button>
</ion-content>