<ion-header>
  <ion-toolbar>
    <ion-title>Your Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/icon/strawberrycake.jpg" />
    <ion-card-header>
      <ion-card-title>Cheese Cake</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Please prepare [price]
    </ion-card-content>
    <ion-card class="status">
      <ion-card-content>
        <ion-card-title>Status:</ion-card-title>
        <ion-card-subtitle>Still in preparation</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ion-card>

</ion-content>
