ion-header{
    ion-button{
        --background: white;
        color: black;
        box-shadow: none;
    }
    ion-toolbar{
        align-items: center;
        justify-content: center;
    }
}
ion-content{
    --background: #ECEFF0;
    div {
        margin: 3%;
    }
    ion-label{
        margin-bottom: 2rem;
    }
    ion-list{
        border-radius: 25px;
        margin-top: 1rem;
        --background: #F1F9FF;

    }
    ion-textarea{
        --background: #F1F9FF;
        border-radius: 25px;
        border: 2px solid #95989A;
    }
}
