ion-content{
    // --background: #ECEFF0;
    border-radius: 20px;
    .container{
        overflow-y: scroll;
        height: 90%; 
        --background: #ECEFF0;

    }
   
}
ion-fab-button{
    --background: #1537b3;
}
ion-toolbar{
    --background: #3050c3;
    color: white;
}

ion-card{

    border-radius: 25px;

    ion-button{
        --background: #3050c3;
    }
    ion-card-header{
        padding-left: 10%;
    }
}