<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div>
   <ion-card>
    <div *ngIf="layer">  
      <ion-item>
        <h3><ion-label position="stacked">Price</ion-label></h3>
        <ion-input [(ngModel)]="layer.price"></ion-input>
      </ion-item>
    </div>
   </ion-card>
  
    <ion-button (click)="updatePrice()" expand="block" shape="round">
      <ion-icon slot="start" name="save"></ion-icon>
      Update
    </ion-button>
      
  </div>
</ion-content>
