ion-content{
    --background: #ECEFF0;
}
ion-toolbar{
    color: black;
    ion-icon{
        color: black;
    }
}
ion-button{
    --background: #3050c3;
    color: white;
    height: 50px;
    margin: 3%;
}
ion-button.addimage{
    // margin: 2%;
    --background: #3050c3;
    color: white;
    margin: 5%;
    height: 4rem;
    font-size: 18px;
    text-transform: initial;
}
ion-card{
    border-radius: 25px;
    margin-bottom: 8%;
    ion-card-title{
        padding-right: 2%;
    }
}