ion-toolbar{
    --background: #3050c3;
    color: white;
  }
  ion-content{
     --background: #ECEFF0;
     #header {
         background-color: #3050c3;
     }
     form {
      padding-left: 3%;
     }
     ion-card{
      margin-top: 5rem;
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom: 5rem;
      padding-bottom: 5%;
      border-radius: 25px;
      box-shadow: 10px 10px 30px grey
     }
     ion-button {
         margin-top: 10px;
         height: 48px;
         font-size: 18px;
         text-transform: initial;
         border-radius: 50px;
         --background: #3050c3;
      
     }
     div.error-container{
      margin-top: 5%;
     }
  }
  ion-note{
    color: red;
    font-weight: bold;
  }